@import 'normalize';
@import 'makeover/vendor'
@import 'pygment_trac'

// main banner
$color-heading = #9FC8DF

// light background color
$color-bg = #FBF4F4

// main font color
$color-font = #0B1622

// sanity
* {
    box-sizing: border-box;
}

// weights
// 300 - light
// 400 - normal
// 600 - semi-bold

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $color-font;
    background-color: $color-bg;
}

.container {
    max-width: 675px;
    margin: 0 auto;
}

h3 {
    font-weight: 300;
}

.header {
    padding: 10px;
    position: relative;
    background-color: $color-heading;
    color: #ffffff;
    font-size: 20px;

    h1 {
        font-weight: bold;
    }

    h2, h3 {
        font-weight: 300;
    }
}

.footer {
    padding: 10px;
    position: relative;
    background-color: $color-heading;
    color: #ffffff;
}

.highlight {
    padding: 10px;
    background-color: white;
    border-radius: 2px;

    pre {
        padding: 0;
        margin: 0;
    }
}

a, a:visited, a:active {
    color: $color-font;
    text-decoration: none;
}

.sponsors {
    float: right;

    h3 {
        padding: 3px;
        margin: 3px;
    }
}

.fa {
    min-width: 1em;
    text-align: center;
}
